.ruby-version
.ruby-gemset
.npmignore
**/.DS_Store
test/temp

# Ignore hidden folders #
# This takes care of .tmp, .sass-cache, and many others #
.*/

# Ignore for Yeoman-Jekyll projects #
app/*bower_components
app/templates/npm-debug.log
vendor
dist
node_modules
.tmp
