.ruby-version
.ruby-gemset
.npmignore
**/.DS_Store

# Ignore hidden folders #
# This takes care of .tmp, .sass-cache, and many others #
.*/

# Ignore for Yeoman-Jekyll projects #
app/*bower_components
vendor
dist
node_modules
.tmp
