<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="description" content="{{ site.description }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% include shared/styles.html %}

    <!-- build:js({app,.tmp}) /scripts/modernizr.js -->
      <script src="/vendor/modernizr/modernizr.js"></script>
    <!-- endbuild -->
  </head>

  <body class="{{ page.body_class }}">
    {{ content }}

    {% include shared/scripts.html %}<% if (googleAnalytics) { %>
    {% include shared/google-analytics.html %}<% } %>
  </body>
</html>
