<!DOCTYPE html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ page.title }}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    {% include shared/styles.html %}

    <!-- build:js({app,.tmp}) /scripts/modernizr.js -->
    <script src="/bower_components/modernizr/modernizr.js"></script>
    <!-- endbuild -->
  </head>

  <body>
    <!--[if lt IE 9]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    {% include shared/header.html %}
    {% include shared/nav.html %}
    {{ content }}
    {% include shared/footer.html %}<% if (ie8) { %>

    <!--[if lte IE 8]>
      {% include shared/scripts-ie8.html %}
    <![endif]--><% } %>

    {% include shared/scripts.html %}<% if (googleAnalytics) { %>
    {% include shared/google-analytics.html %}<% } %>
  </body>
</html>
