// Add styles to button variants
@mixin button-variant($color, $background, $border: $background) {
  &,
  &:visited {
    background-color: $background;
    border-color: $border;
    color: $color;
  }

  &:hover,
  &:focus,
  &:active,
  &.active {
    @if type-of($background) == color {
      background-color: darken($background, 7);
    }

    @if type-of($background) == color {
      border-color: darken($border, 7);
    }
    color: $color;
  }

  &.disabled,
  &[disabled] {
    &,
    &:hover,
    &:focus,
    &:visited,
    &:active,
    &.active {
      opacity: 0.5;
    }
  }
}
