// Add styles to button variants
@mixin button-variant($color, $background, $border) {
  background-color: $background;
  border-color: $border;
  color: $color;

  &:hover,
  &:focus,
  &:visited,
  &:active,
  &.active {
    background-color: $background;
    border-color: $border;
    color: $color;
  }

  &:active,
  &.active {
    background-image: none;
  }

  &.disabled,
  &[disabled] {
    &,
    &:hover,
    &:focus,
    &:visited,
    &:active,
    &.active {
      background-color: $background;
      border-color: $border;
    }
  }
}
