---
title: "Neutral Colors"
type: colors
scss: /styles/base/_variables.scss
usage: "Base set used to mix tints and tones."
---

<div class="color__tile color__tile--base-background-color">
  <code class="color__name">$base-background-color</code>
</div>

<div class="color__tile color__tile--light-gray">
  <code class="color__name">$light-gray</code>
</div>

<div class="color__tile color__tile--medium-gray">
  <code class="color__name">$medium-gray</code>
</div>

<div class="color__tile color__tile--dark-gray">
  <code class="color__name">$dark-gray</code>
</div>