// Add styles to link variants
@mixin link-variant($base-color, $hover-color: darken($base-color, 7)) {
  color: $base-color;

  &:visited {
    color: $base-color;
  }

  &:hover,
  &:active {
    color: $hover-color;
  }
}
