/* Things to place in separate files...
 * ---------------------------------------------------------------------------
 * _variables.scss
 * _mixins.scss
 * _utilities.scss
 * _typography.scss
 * _buttons.scss
 * _forms.scss
 * _lists.scss
 * _tables.scss
 * _library.scss     - Custom classes used throughout the app.
 * _module_name.scss - Styles for a module of functionality (e.g. – modal).
 * _page_name.scss   - Styles for page specific elements.
 * ---------------------------------------------------------------------------
 */

/* TEMPLATE
 * -----------------------------------------------------------------------------
 * Styling for the structure of the site. If your element doesn't show up on
 * every page, it probably shouldn't be in this file.
 * -----------------------------------------------------------------------------*/
body {
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: $base-line-height;
  -webkit-font-smoothing: antialiased;

  @include media($tablet) {
    font-size: $base-font-size-tablet;
  }
}

.header-primary {}

.nav-primary {}

.content-primary {}

.footer-primary {}
