---
title: "Copy"
type: typography
scss: /styles/base/_typography.scss
module:
usage: "Generic body copy components"
---

<p>(Paragraph) You probably haven't heard of them kickstarter cronut everyday carry bushwick thundercats. Skateboard VHS 8-bit ramps. Twee bespoke cred, mumblecore cliche letterpress heirloom sriracha drinking vinegar cornhole aesthetic ennui. Four dollar toast celiac butcher bespoke. Marfa +1 yuccie knausgaard literally, pour-over drinking vinegar brooklyn listicle master cleanse thundercats single-origin coffee occupy pabst. Pop-up chillwave +1, humblebrag keytar kinfolk art party ethical letterpress. Migas kickstarter portland, iPhone kale chips banjo authentic listicle everyday carry selvage street art squid slow-carb poutine.</p>

<blockquote cite="http://example.com/facts">
  <p>(Blockquote) Viral wolf chicharrones, meditation tofu stumptown lo-fi food truck keffiyeh. Venmo pinterest cray portland tattooed, franzen put a bird on it swag before they sold out. Cray freegan photo booth cardigan, occupy scenester tattooed tacos you probably haven't heard of them bushwick messenger bag.</p>
</blockquote>
