---
title: "Headings"
type: typography
scss: /styles/base/_typography.scss
module:
usage: "Search engines use your headings to index the structure and content of your web pages. It is important to use headings to show the document structure."
---

<h1>Occupy slow-carb fanny pack yr listicle (h1)</h1>
<h2>Sartorial gentrify meggings art party, health goth kinfolk pitchfork tattooed (h2)</h2>
<h3>Chicharrones DIY four loko fingerstache kale chips (h3)</h3>
<h4>Shabby chic try-hard church-key squid seitan (h4)</h4>
<h5>Jean shorts literally pickled, bitters drinking vinegar seitan street art (h5)</h5>
<h6>Vinyl tilde aesthetic umami, taxidermy williamsburg whatever schlitz (h6)</h6>

